
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <br />
         <br />
      <label> Result =</label>  <b2><span>  @ViewBag.result </span></b2> 

    </div>
</body>
</html>
